.navigation {
  display: flex;
  justify-content: space-between;
}

.ireservia {
  width: 100px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
}
.listes1 {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 34px;
  color: #0065fc;
}
li {
  margin-right: 50px;
}
.activité {
  color: black;
}

@font-face {
  font-family: raleway bold;
  src: url(font/static/Raleway-Bold.ttf);
}
.findholiday {
  font-family: raleway bold;
  margin-left: 20px;
}
